# Core dependencies
python-dateutil
pytz

# Data processing
pandas
numpy

# Machine Learning
tensorflow
scikit-learn
joblib

# Data fetching
meteostat==1.6.8
requests

# API
fastapi
uvicorn[standard]
pydantic

# Utilities
python-multipart
pyarrow
